
.App {
  text-align: center; 
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightcyan;
}

h1 {
  
  padding-top: 100px;
  padding-bottom: 50px;
  color: dodgerblue;
    
}




