@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rajdhani&display=swap');


// Font Variables
$text: 'Rajdhani', sans-serif;   
$headings: 'Open Sans', sans-serif;
$text-color:lightcyan;
$heading-color:dodgerblue;

.App {
  text-align: center; 
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;
}

h1 {
  
  font-family: $headings;
  font-weight: normal; 
  padding-top: 100px;
  padding-bottom: 50px;
  color: $heading-color;
    
}

ul, Form, div {
    
  font-family: $text;
  font-weight: normal; 
    
    
}



